:root {
  --text-main-color: #FFF;
  --text-accent-color: #545050;
  --background-color: #1b1919;
  --element-focus-color: #FFF;
}

/* STYLE RESET START */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* STYLE RESET END */

/* COMMON STYLES START */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  display: flex;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  color: var(--text-main-color);
  border: 1px solid currentColor;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 100%;
}

.button:active {
  background-color: var(--text-accent-color);
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid var(--element-focus-color);
}

/* COMMON STYLES END */

.page {
  display: flex;
  align-items: center;
  width: 1140px;
  height: 100%;
  margin: auto;
  background-color: var(--background-color);
}

/* MAIN START */

.content {
  display: flex;
  flex-direction: row;
  align-items: end;
  column-gap: 30px;

}

/* LEFT COLUMN START */

.result {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-content: flex-end;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  height: 100%;
  justify-content: flex-start;
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 120%;
  color: var(--text-main-color);
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid var(--element-focus-color);
  outline-offset: 1px;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  color: var(--text-main-color);
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  padding: 2px 1px;
  background: transparent;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  border-left: none;
  border-right: none;
  color: var(--text-main-color);
  width: 225px;
  appearance: none;
  height: 27px;
}

.search-form__textfield::placeholder {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  color: var(--text-main-color);
  opacity: 0.7;
}

.search-form__textfield:active {
  border-left: 1px solid currentColor;
  border-right: 1px solid currentColor;
}

.search-form__textfield:has(:focus-visible) {
  outline: 1px solid var(--element-focus-color);
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: block;
  width: 19px;
  height: 19px;
  color: var(--text-main-color);
  border: 1px solid currentColor;
  cursor: pointer;
}

.search-form__pseudo-checkbox:has(:focus-visible) {
  outline: 1px solid var(--element-focus-color);
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
  margin: 1px 0 0 1px;
  content: '';
  background-color: var(--text-main-color);
  width: 15px;
  height: 15px;
}

.search-form__submit-button {
  align-self: end;
}

/* LEFT COLUMN END */

/* RIGHT COLUMN START */
.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 534px;
}

.title {
  display: block;
  grid-area: 1 / 1 / 2 / 3;
  font-family: 'Oswald', sans-serif;
  color: var(--text-main-color);
  font-weight: bold;
  font-style: normal;
  font-size: 76px;
  text-transform: uppercase;
  line-height: 94%;
  margin-bottom: 23px;
  letter-spacing: -0.04rem;
}

.content__accent {
  color: var(--text-accent-color);
}

/* CARD TEMPLATES START */

.content__video-card {
  display: flex;
  justify-content: space-between;
  padding: 1px;
}

.content__video-card:active {
  background-color: var(--text-accent-color);
}

.content__video-card:hover {
  text-decoration: underline var(--element-focus-color);
}

.content__card-link:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid var(--element-focus-color);
  outline-offset: 1px;
}

.content__list {
  position: relative;
  grid-area: 2 / 1 / 3 / 3;
  width: 100%;
  overflow: hidden auto;
  height: 298px;
}

.content__list-item {
  width: 100%;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
  color: var(--text-main-color);
}

.content__video-card-description-container {
  display: block;
  max-width: 200px;
}

.content__video-card-title {
  display: block;
  font-family: 'Oswald', sans-serif;
  color: var(--text-main-color);
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 120%;
}

.content__video-card-description {
  display: block;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: var(--text-main-color);
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 90%;
  text-transform: capitalize;
}

.content__video-card-thumbnail {
  display: inline-block;
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.more-button-template {
  display: block;
}

/* CARD TEMPLATES END */

/* RIGHT COLUMN END */

/* MAIN END */